header {
    position: sticky;
    top:0;
    padding:10px;
    margin-bottom: 20px;
}
body {
    margin:0;
    background: linear-gradient( aquamarine,aquamarine,deepskyblue, deepskyblue)
    no-repeat center center fixed; 

}

.wave{
  background:
    linear-gradient(to right, sandybrown, chocolate);

  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, aquamarine 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, aquamarine 12px, transparent 13px);
}
.divbody  {
    padding-top:10px;
    padding-left:10px;
}
select {
    max-width: 280px;
}
